@page "/vehicles"

@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>Launch Vehicles</h3>

<MudContainer>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Sync">
        Sync
    </MudButton>
</MudContainer>

<MudTabs Rounded="true">
    <MudTabPanel Text="Raw data" BadgeColor="Color.Primary">
        @if (RawResult?.IsCorrect == true)
        {
            <MudTable Items="@RawResult.Result" Hover="true" Breakpoint="Breakpoint.Sm">
                <HeaderContent>
                    <MudTh>Organization</MudTh>
                    <MudTh>Launcher</MudTh>
                    <MudTh>Founded</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>First launch</MudTh>
                    <MudTh>Launches</MudTh>
                    <MudTh>Cost</MudTh>
                    <MudTh>Perfomance</MudTh>
                    <MudTh>Price Per Kg</MudTh>
                    <MudTh>Founding</MudTh>
                    <MudTh>Logo</MudTh>
                    <MudTh>Photo</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Organization</MudTd>
                    <MudTd>@context.Launcher</MudTd>
                    <MudTd>@context.Founded</MudTd>
                    <MudTd>@context.Status</MudTd>
                    <MudTd>@context.FirstLaunch</MudTd>
                    <MudTd>@context.Launches</MudTd>
                    <MudTd>@context.Cost</MudTd>
                    <MudTd>@context.Perfomance Kg</MudTd>
                    <MudTd>@context.PricePerKg</MudTd>
                    <MudTd>@context.Founded</MudTd>
                    <MudTd>@context.Logo</MudTd>
                    <MudTd>@context.Photo</MudTd>
                </RowTemplate>
            </MudTable>
            <MudPagination Color="Color.Primary" ShowFirstButton ="true" ShowLastButton="true"></MudPagination>
        }
    </MudTabPanel>
    <MudTabPanel Text="Processed data">
        
    </MudTabPanel>
</MudTabs>

<MudSnackbarProvider/>

<style>
   th {
       font-family: 'Times New Roman';
       font-size: large;
       font-weight: 700;
   }
</style>